{
    "extends": [
        "node",
        "prettier",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["prettier", "@typescript-eslint"],
    "settings": {
        "import/resolver": {
            "node": {"extensions": [".ts"]}
        }
    },
    "rules": {
        "arrow-body-style": "off",
        "import/prefer-default-export": "off",
        "prettier/prettier": ["error"]
    }
}
